.card {
  width: 100%;
  height: 500px;
  margin-bottom: 10px;
}

.card .header {
  height: 30px;
  line-height: 30px;
}

.card .header .title {
  font-weight: 600;
  font-size: 16px;
}

.card .context .top {
  display: flex;
  align-items: center;
}

.card .context .top .left {
  width: 60%;
  height: 420px;
}

.card .context .top .right {
  padding: 10px;
  width: 40%;
  background: #d9d9d9;
}

.card .context .bottom {
  background: #d9d9d9;
  padding: 5px;
}