.hometop {
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}


.homemain {
    width: 80%;
    display: flex;
    margin: 0 auto;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 260px);
    position: relative;
}

.homemain-left {
    width: 30%;
}

.homemain-left .year-container {
    display: flex;
}

.homemain-left .year-container .year-text {
    width: 35%;
    height: 225px;
    line-height: 225px;
    text-align: center;
    border-right: 3px solid #000;
}

.homemain-left .year-container .sem-container {
    width: 65%;
}

.homemain-left .year-container .sem-container .underline {
    position: absolute;
    width: 100%;
    height: 2px;
    background: #d9d9d9;
    margin-top: -8px;
}

.homemain-left .year-container .sem-container div {
    height: 100px;
    line-height: 100px;
    text-align: center;
    margin-bottom: 10px;
}

.homemain-left .year-container .sem-container .bottom,
.homemain-right .cardF .bottom {
    margin-bottom: 15px;
}

.homemain-right {
    width: 70%;
}

.homemain-right .cardF {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.homemain-right .cardF>div {
    width: 22%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #d9d9d9;
    margin-bottom: 10px;
    text-align: center;
}

.homemain-righ .cardF .highlight {
    background: #B7F8C7;
}

.homemain-righ .cardF .error {
    position: relative;
    background: pink;
}

.homemain-righ .cardF .error .anticon {
    position: absolute;
    left: 10px;
    top: 10px;
}

.homemain .cardF .highlight {
    background: #B7F8C7;
}

.homemain .cardF .error {
    position: relative;
    background: pink;
}

.homemain .cardF .error .anticon {
    position: absolute;
    left: 10px;
    top: 10px;
}

.homebottom {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.homebottom>div:nth-child(1) {
    width: 15%;
    text-align: right;

}

.ant-modal-header {
    border: none;
    font-weight: bold;
}

.ant-modal-footer {
    border: none !important;
}

.ant-modal-close-x {
    margin: auto;
}

.ant-modal-title {
    font-size: 22px !important;
}