@import '~antd/dist/antd.css';
.wrap {
  width: 100vw;
  height: 100vh;

}

.wrap .nav {
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: rgb(9, 9, 170);
  color: #fff;
  font-weight: 500;
}

.wrap .main {
  height: calc(100vh - 100px);
  overflow: auto;
}

.wrap .footer {
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: rgb(9, 9, 170);
  color: #fff;
  font-weight: 500;
}