p {
    margin: 10px 0;
    font-weight: bold;
}

input {
    border: 2px solid;
    height: 28px;
    width: 254px;
}

/* button {
    width: 123px;
    height: 32px;
    background: #0165ac;
    color: #fff;
} */

.ant-modal-content {
    padding: 10px !important;
}

.ant-select-selector {
    border: 2px solid !important;
    border-radius: 0 !important;
}

.ant-select-arrow {
    display: none !important;
}

.select {
    display: inline-block;
    width: 27px;
    height: 29px;
    vertical-align: top;
    border-right: none;
    line-height: 29px;
    text-align: center;
    position: relative;
    right: 29px;


}

.select span {
    color: #0165ac;
}

.left,
.right {
    width: 50%;
}

.cards {
    border-left: 2px solid;
    height: 80%;
}

.cards>div {
    width: 130px;
    height: 70px;
    background: #eeece1;
    display: inline-block;
    margin: 0 20px 20px 10px;
    text-align: center;
}